<h1>Detalles del trabajo</h1>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @job.restaurant.commercial_name if @job.restaurant %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning' %>
<%= link_to 'Back', jobs_path, class: 'btn btn-secondary' %>
