<div class="container_def text-center my-4 py-4">
  <div class="custom-title m-5">
  <h1 id="text-custom">Mis Postulaciones</h1>
  </div>

  <!--contenido Card-->
  <div class=" p-4">
    <div class="row justify-content-center">
      <% @applied_jobs.each do |job| %>
        <div class="col-md-4 my-4 d-flex align-items-stretch">
          <div class="card card-def bg-light w-100 text-start levitate_card " data-aos="fade-right">
            <div class="card-body d-flex flex-column c-body">
              <% current_job = job.job_users.find_by(user: current_user) %>
              <p >
                <strong class="font-custom">
                  Status:
                </strong>

                  <%# <%= current_job.status.present? ? current_job.status : "sin informacion"%>
                  <% if current_job.status == "aceptado" %>
                    <span class=" status-custom btn success-custom ">
                    <%= current_job.status %>
                    </span>
                  <% elsif current_job.status == "rechazado" %>
                    <span class=" status-custom btn rejected-custom ">
                    <%= current_job.status %>
                    </span>
                  <% else %>
                    <span class=" status-custom btn pending-custom ">
                    <%= current_job.status %>
                    </span>
                  <% end %>
              </p>
              <p><strong>Restaurante: </strong><span class="font-size-custom"><%= job.restaurant.commercial_name %></span></p>

              <p><strong>Función: </strong><span class="font-size-custom"><%= job.function.capitalize %></span></p>
              <p><strong>Descripción: </strong><span class="font-size-custom text-truncate"><%= job.description.capitalize %></span></p>
              <p><strong>Fecha: </strong><span class="font-size-custom"><%= job.date.strftime("%d-%m-%Y") %></span></p>
              <%= button_to 'Eliminar', job_path(job), method: :delete, class: 'btn cancel-btn fixed-bottom', data: { turbo_method: :delete } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <style>
  .status-custom {
      font-size: 12px;
      white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
      overflow: hidden;          /* Oculta el texto que no cabe */
      border-radius: 50px;
      display: inline-block; /* Asegura que el botón respete su contenedor */
      max-width: 100%; /* Limita el ancho al contenedor padre */
      border: 2px solid;
  }

  .font-custom {
    font-size: 18px;
    font-weight: bolder;

  }

  .font-size-custom {
    font-size: 14px;
    color: #6c757d;
  }

  .success-custom {
    background-color: transparent; /* Sin fondo */
    color: #00ae7a; /* Texto verde */
    border: 2px solid #00ae7a; /* Borde verde de 2px */
    border-radius: 50px; /* Borde redondeado */
    padding: 0.3rem 0.8rem; /* Ajusta el espacio interior */

    text-decoration: none; /* Elimina el subrayado en los enlaces */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-size: 14px;
    &:hover {
      background-color: #00ae7a; /* Fondo verde al pasar el cursor */
      color: white; /* Cambia el texto a blanco */
    }
  }

  .pending-custom {
      background-color: transparent; /* Sin fondo */
      color: #dfb406; /* Texto amarillo */
      border: 2px solid #dfb406; /* Borde amarillo de 2px */
      border-radius: 50px; /* Borde redondeado */
      padding: 0.3rem 0.8rem; /* Ajusta el espacio interior */
      margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
      text-decoration: none; /* Elimina el subrayado en los enlaces */
      transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
      font-size: 14px;
      &:hover {
        background-color: #dfb406; /* Fondo amarillo al pasar el cursor */
        color: white; /* Cambia el texto a blanco */
      }
    }

    .rejected-custom {
      background-color: transparent; /* Sin fondo */
      color: #ff4d4d; /* Texto rojo */
      border: 2px solid #ff4d4d; /* Borde rojo de 2px */
      border-radius: 50px; /* Borde redondeado */
      padding: 0.3rem 0.8rem; /* Ajusta el espacio interior */
      margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
      text-decoration: none; /* Elimina el subrayado en los enlaces */
      transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
      font-size: 14px;
    }

    .rejected-custom:hover {
        background-color: #ff4d4d; /* Fondo rojo al pasar el cursor */
        color: white; /* Cambia el texto a blanco */
    }

  </style>


</div>


<%# truncate  %>
