<div id="header" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%=
        image_tag 'https://res.cloudinary.com/roldan-cloudinary/image/upload/v1726620650/colaborador%20culinario/4_1_w045kl.png'
      %>
    <% end %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <% if current_user.collaborator? %>
          <%# ----------------------collaborator  %>
          <li class="nav-item active">
            <%= link_to 'Home', '/', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Postulaciones', application_path(user: current_user), class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Nosotros', about_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Contáctanos', contact_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="avatar"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= image_tag(current_user.photo.attached? ? cl_image_path(current_user.photo.key) : asset_path('logo.jpg'),
              class: 'avatar rounded-circle',
              alt: 'dropdown menu',
              style: 'width: 40px; height: 40px; object-fit: cover;')
              %>

            </a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <%= link_to 'Perfil', 'profile', class: 'dropdown-item custom-link-color' %>
              <%= link_to 'Ayuda', 'contact', class: 'dropdown-item custom-link-color' %>
              <%=
                link_to 'Cerrar sesión',
                        destroy_user_session_path,
                        data: {
                          turbo_method: :delete,
                        },
                        class: 'dropdown-item custom-link-color'
              %>
            </div>
          </li>

          <%# ----------------------owner  %>
          <% elsif current_user.owner? %>
          <li class="nav-item active">
            <%= link_to 'Home', '/', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Restaurantes', restaurants_path(user: current_user), class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Publicaciones', "/jobs", class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Nueva publicación', new_restaurant_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Nosotros', about_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Contáctanos', contact_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="avatar"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= image_tag(current_user.photo.attached? ? cl_image_path(current_user.photo.key) : asset_path('logo.jpg'),
              class: 'avatar rounded-circle',
              alt: 'dropdown menu',
              style: 'width: 40px; height: 40px; object-fit: cover;')
              %>
            </a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <%= link_to 'Perfil', profile_path, class: 'dropdown-item custom-link-color' %>
              <%= link_to 'Ayuda', contact_path, class: 'dropdown-item custom-link-color' %>
              <%=
                link_to 'Cerrar sesión',
                        destroy_user_session_path,
                        data: {
                          turbo_method: :delete,
                        },
                        class: 'dropdown-item custom-link-color'
              %>
            </div>
          </li>
          <% end %>

        <% else %>
          <li class="nav-item active">
            <%= link_to 'Home', '/', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Nosotros', about_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Contáctanos', contact_path, class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <style>
  .custom-link-color {
    color: #6c757d;
  }

  .custom-link-color:hover {
    color: #00ae7a;
  }
  </style>
</div>
