<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%=
        image_tag 'https://res.cloudinary.com/roldan-cloudinary/image/upload/v1726181114/colaborador%20culinario/cc_logo_d3gufl.png'
      %>
    <% end %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# if user.role == "owner"  => else  %>
          <li class="nav-item active">
            <%= link_to 'Home', '/', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Postulaciones', application_path(user: current_user), class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Favoritos', '#', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Nosotros', 'about', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Contáctanos', 'contact', class: "nav-link custom-link-color" %>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="avatar"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%=
                image_tag 'https://res.cloudinary.com/roldan-cloudinary/image/upload/v1726246081/colaborador%20culinario/ktscqsdwihjo4fgfo957.jpg',
                          class: 'avatar',
                          alt: 'dropdown menu'
              %>
            </a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <%= link_to 'Perfil', 'profile', class: 'dropdown-item custom-link-color' %>
              <%= link_to 'Ayuda', 'contact', class: 'dropdown-item custom-link-color' %>
              <%=
                link_to 'Cerrar sesión',
                        destroy_user_session_path,
                        data: {
                          turbo_method: :delete,
                        },
                        class: 'dropdown-item custom-link-color'
              %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
