<div class="container_def text-center  my-4 py-4" >
  <div class="custom-title text-center m-5">
    <h1>Mis Pagos</h1>
  </div>

    <!--contenido Card-->
  <div class="p-4">
    <div class="row">
      <% @applied_jobs.each do |job| %>
      <div class="col-md-6 my-4 d-flex align-items-stretch">
        <div class="card card-def my-4 bg-light w-100 levitate_card" data-aos="fade-right">
          <div class="card-body d-flex flex-column align-items-start c-body">
            <p><strong>Restaurante: </strong><%= job.restaurant.commercial_name%></p>
            <% current_job = job.job_users.find_by(user: current_user) %>
            <p><strong> Status: </strong><%= current_job.status.present? ? current_job.status : "sin informacion" %></p>
            <p><strong> Metodo de pago: </strong><%= current_job.payment_method_used.present? ? current_job.payment_method_used : "sin informacion" %></p>
            <p><strong> Monto a pagar: </strong><%= current_job.amount_paid.present? ? current_job.amount_paid : "sin informacion" %></p>
            <p><strong>Función: </strong><%= job.function.capitalize %></p>
            <p><strong> Fecha: </strong><%= job.date %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
