<div class="container_def text-center  my-4 py-4" >
  <div class="custom-title text-center m-5">
    <h1 id="text-custom">Mis Pagos</h1>
  </div>

    <!--contenido Card-->
  <div class="p-4">
    <div class="row">
      <% @my_payments.each do |job| %>
      <div class="col-md-4 my-4 d-flex align-items-stretch">
        <div class="card card-def my-4 bg-light w-100 levitate_card" data-aos="fade-right">
          <div class="card-body d-flex flex-column align-items-start c-body">
            <% current_job = job.job_users.find_by(user: current_user) %>
            <p>
              <strong class="font-custom">
                Status:
              </strong>
              <%# <span class="status-custom btn btn-outline-success">
                <%= current_job.status.present? ? current_job.status : "sin informacion" %>
              <%# </span> %>
              <% if current_job.status == "aceptado" %>
                <% if job.date < Date.today %>
                <span class=" status-custom btn success-custom ">
                Pagado
                </span>
                <% else %>
                  <span class="status-custom btn pending-custom">
                    Pendiente
                  </span>
                <% end %>
              <% end %>
            </p>
            <p><strong>Restaurante: </strong> <span class="font-size-custom"><%= job.restaurant.commercial_name%></span></p>

            <p><strong> Metodo de pago: </strong><span class="font-size-custom"><%= current_job.payment_method_used.present? ? current_job.payment_method_used : "sin informacion" %></span></p>
            <p><strong> Monto a pagar: </strong><span class="font-size-custom"><%= current_job.amount_paid.present? ? current_job.amount_paid : "sin informacion" %></span></p>
            <p><strong>Función: </strong><span class="font-size-custom"><%= job.function.capitalize %></span></p>
            <p><strong> Fecha: </strong><span class="font-size-custom"><%= job.date.strftime("%d-%m-%Y") %></span></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <style>
  .status-custom {
      font-size: 12px;
      white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
      overflow: hidden;          /* Oculta el texto que no cabe */
      border-radius: 50px;
      display: inline-block; /* Asegura que el botón respete su contenedor */
      max-width: 100%; /* Limita el ancho al contenedor padre */
      border: 2px solid;
  }

  .font-custom {
    font-size: 18px;
    font-weight: bolder;

  }

  .font-size-custom {
    font-size: 14px;
    color: #6c757d;
  }

  .success-custom {
    background-color: transparent; /* Sin fondo */
    color: #00ae7a; /* Texto verde */
    border: 2px solid #00ae7a; /* Borde verde de 2px */
    border-radius: 50px; /* Borde redondeado */
    padding: 0.3rem 0.8rem; /* Ajusta el espacio interior */
    margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-size: 18px;
    &:hover {
      background-color: #00ae7a; /* Fondo verde al pasar el cursor */
      color: white; /* Cambia el texto a blanco */
    }
  }

  .pending-custom {
    background-color: transparent; /* Sin fondo */
    color: #ffcc00; /* Texto amarillo */
    border: 2px solid #ffcc00; /* Borde amarillo de 2px */
    border-radius: 50px; /* Borde redondeado */
    padding: 0.3rem 0.8rem; /* Ajusta el espacio interior */
    margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-size: 18px;
    &:hover {
      background-color: #ffcc00; /* Fondo amarillo al pasar el cursor */
      color: white; /* Cambia el texto a blanco */
    }
}
  </style>
</div>
