<div class="container_def text-center  my-4 py-4" >
  <div class="custom-title text-center m-5">
    <h1>Mis Pagos</h1>
  </div>

    <!--contenido Card-->
  <div class="bg-black p-4">
    <div class="my-4 mx-auto">
      <% @applied_jobs.each do |job| %>
      <div class="card card-def my-4 bg-primary" data-aos="fade-right">
        <div class="card-body ">
          <p id="p-white">Restaurante: <%= job.restaurant.commercial_name%></p>
          <p id="p-white">Status: <%= job.job_users.find_by(user: current_user).status %></p>
          <p id="p-white">Metodo de pago: <%= job.job_users.find_by(user: current_user).payment_method_used %></p>
          <p id="p-white">Monto Pagado: <%= job.job_users.find_by(user: current_user).amount_paid %></p>

          <p id="p-white">Función: <%= job.function.capitalize %></p>
          <p id="p-white">Fecha: <%= job.date %></p>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
