<!-- app/views/pages/_job_listings.html.erb -->
<div id="job_listings" class="col-md-7 main-content">
  <!-- Search Card -->
  <div id="card-filter" class="card mb-4 border-0 shadow">
    <div class="card-body">
      <h1 class="display-6">Encuentra tu empleo ideal</h1>
      <p id="caption">Experiencia personalizada de búsqueda de empleo aplicando cualquier criterio</p>
      <div class="search-container">
        <input type="text" class="form-control search-input" placeholder="Buscar empleos...">
        <i class="fas fa-search search-icon"></i> <!-- Icono de búsqueda -->
        <button class="btn btn-success search-button">
          <i class="fas fa-arrow-right text-white"></i> <!-- Icono de flecha hacia la derecha -->
        </button>
      </div>
    </div>
  </div>

  <h2 class="mb-4"><%= pluralize(jobs.count, 'Resultado', 'Resultados') %></h2>

  <!-- Job Listings -->
  <div class="row job-list gx-4 gy-4">
    <% jobs.each do |job| %>
      <div class="col-md-3">
        <div class="card parent-card" >
          <!-- Inner Card (Hijo) -->
          <div class="mb-0 child-card">
            <div class="card-body d-flex justify-content-between align-items-center pb-2">
              <div>
                <%= image_tag job.restaurant.user.photo.attached? ? cl_image_path(job.restaurant.user.photo.key) : asset_path('logo.jpg'), class: 'logo', alt: 'logo' %>
              </div>
              <div>
                <i class="fa-regular fa-bookmark"></i> <!-- Icono guardar empleo -->
              </div>
            </div>


            <div class="card-body pt-0 pb-2" >
              <h3 class="card-title mb-1 two-lines">
                <span class="first-word"><%= job.restaurant.commercial_name.split.first %></span>
                <span class="rest-text">
                  <%= job.restaurant.commercial_name.split[1..].join(' ') %>
                  <i class="fas fa-check-circle text-success"></i>
                </span>
              </h3> <!-- Icono de verificado -->

              <% if job.function.present? %>
                <h4 class="card-text mb-2"><%= job.function.humanize %></h4>
              <% else %>
                <h4 class="card-text mb-2">Sin función</h4>
              <% end %>
              <button class="expiration btn btn-outline-secondary btn-sm rounded-sm me-2 text-truncate">Expira en <%= time_ago_in_words(job.date) %></button>
            </div>


          </div>

          <!-- Parent Card Footer -->
          <div class="card-body d-flex justify-content-between align-items-center p-2 overflow-hidden" >
            <div>
              <h4 class="mb-1 salary-location"><%= number_to_currency(job.payment_hour, unit: 'S/.', precision: 0) %>/hr</h4>
              <h4 id="location" class="mb-0 text-truncate"><%= job_location(job) %></h4>
            </div>
            <%= turbo_frame_tag "job_#{job.id}" do %>
              <%= link_to 'Detalles', home_path(job_id: job.id), data: { turbo_frame: "job_details" }, class: 'detail-button rounded-pill px-3 ms-2 flex-shrink-0' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
