<%# app/views/pages/_job_details.html.erb %>
<%= turbo_frame_tag "job_details", id:"job_details", class:"col-md-3" do %>
  <!-- Job Image Card -->
  <div class="card mb-4 position-relative job-image-card">
    <!-- Card with Image and Dark Overlay -->
<div class="position-absolute top-0 start-0 w-100 h-100 background-image"
     style="background-image: url('<%= @selected_job.restaurant.photo.attached? ? cl_image_path(@selected_job.restaurant.photo.key) : asset_path('business-image.jpg') %>'); background-size: cover; background-position: center;">
</div>
    <!-- Dark Overlay with Countdown -->
    <div class="position-absolute top-0 start-0 w-100 h-100 dark-overlay">
      <div class="d-flex justify-content-center align-items-center h-100 overlay-content" id="overlay-content">
        <span class="text-white fw-bold expiration-time" id="countdown" data-time-remaining="<%= @time_remaining.is_a?(String) ? @time_remaining : @time_remaining.to_json %>">
          <!-- JavaScript will update this content -->
          <% if @time_remaining.is_a?(String) %>
            <%= @time_remaining %>
          <% elsif @time_remaining.is_a?(Hash) %>
            <%= "#{@time_remaining[:hours]}h #{@time_remaining[:minutes]}m #{@time_remaining[:seconds]}s" %>
          <% else %>
            Tiempo desconocido
          <% end %>
        </span>
      </div>
    </div>

    <%= javascript_include_tag 'home', crossorigin: 'anonymous', 'data-turbo-track': 'reload' %>


  </div>

    <!-- Logo (Avatar) -->
    <div class="position-relative">
      <div class="position-absolute job-image-logo logo-card-avatar">
        <img src="<%= @selected_job.restaurant.user.photo.attached? ? cl_image_path(@selected_job.restaurant.user.photo.key) : asset_path('logo.jpg') %>" class="rounded-circle" alt="logo">
      </div>
    </div>
  <!-- Job Title and Company -->
  <% if @selected_job.present? %>
    <h2 class="mt-4"><%= @selected_job.function.capitalize %></h2>
    <h3 class="fw-bold business-details"><%= @selected_job.restaurant.commercial_name %></h3>

    <!-- Location Information -->
    <div class="row mb-2">
      <h3 class="col-6 fw-bold"><i class="fas fa-map-marker-alt me-2"></i>Ubicaci贸n</h3> <!-- Icono de ubicaci贸n -->
      <h3 class="col-6 fw-bold text-start text-truncate"><i class="fa-regular fa-building me-2"></i><%= job_location(@selected_job) %></h3> <!-- Icono de ciudad -->
      <h4 class="col-12 specific-details"><%= @selected_job.restaurant.address %></h4>
    </div>

    <!-- Schedule Information -->
    <div class="row mb-2">
      <h3 class="col-6 fw-bold"><i class="fa-regular fa-calendar-check me-2"></i>Horario</h3> <!-- Icono de calendario -->
      <h3 class="col-6 fw-bold text-start"><i class="fa-regular fa-address-card me-2"></i><%= @selected_job.job_mode.capitalize %></h3> <!-- Icono de modalidad de trabajo -->
      <h4 class="col-12 specific-details">
        <%= formatted_schedule(@selected_job.date, @selected_job.hour_start, @selected_job.hour_end).capitalize %>
      </h4>
    </div>

    <!-- Hours and Salary Information -->
    <div class="row mb-2">
      <h3 class="col-6 fw-bold"><i class="fa-regular fa-clock me-2"></i>Horas</h3> <!-- Icono de horas -->
      <h3 class="col-6 text-start fw-bold"><i class="fa-regular fa-money-bill-1 me-2"></i>Salario</h3> <!-- Icono de d贸lar para salario -->
      <h4 class="col-6 specific-details"><%= hours_difference(@selected_job.hour_start, @selected_job.hour_end) %> hr</h4>
      <h4 class="col-6 text-start specific-details"><%= number_to_currency(@selected_job.payment_hour, unit: 'S/.', precision: 0) %>/hr</h4>
    </div>

    <!-- Published Date and Other Offers -->
    <h4 class="mb-1">Publicado hace <%= time_ago_in_words(@selected_job.created_at) %></h4>
    <h4 class="other-offers">Otras ofertas de esta empresa</h4>

    <!-- Apply and More Info Buttons -->
    <div class="d-flex gap-2 mb-3">
      <%= simple_form_for [selected_job, job_user] do |f| %>
        <%= f.submit "Aplicar ahora", class: "apply-now rounded-pill", id: "apply-button", data: {turbo: false} %>
      <% end %>
      <%= link_to 'Mis postulaciones', application_path(user: current_user), class: "my-applications-button rounded-pill", data: {turbo: false}%>
    </div>

    <!-- Divider -->
    <hr class="my-3">

    <!-- Description Section -->
    <h3>Descripci贸n</h3>
    <p><%= @selected_job.description %></p>

    <!-- Responsibilities Section -->
    <h3>Responsabilidades</h3>
    <p><%= @selected_job.responsibility %></p>

    <!-- Requirements Section -->
    <h3>Requerimientos</h3>
    <p><%= @selected_job.requirement %></p>
  <% else %>
    <p>Selecciona un trabajo para ver los detalles.</p>
  <% end %>
<% end %>
