<div class="container">
    <div class="header text-center my-4 py-4">
      <h2>Bienvenido a Mis trabajos</h2>
    </div>

  <% trabajos = [
    { titulo: "Trabajo 1", empresa: "Empresa A", funcion: "Cocinero", horas: 40, pago: 500 },
    { titulo: "Trabajo 2", empresa: "Empresa B", funcion: "Mesero", horas: 30, pago: 350 },
    { titulo: "Trabajo 3", empresa: "Empresa C", funcion: "Limpieza", horas: 25, pago: 250 },
    { titulo: "Trabajo 4", empresa: "Empresa D", funcion: "Cajero", horas: 35, pago: 400 },
    { titulo: "Trabajo 5", empresa: "Empresa E", funcion: "Ayudante de cocina", horas: 20, pago: 300 },
    { titulo: "Trabajo 6", empresa: "Empresa F", funcion: "Supervisor", horas: 45, pago: 600 },
    { titulo: "Trabajo 7", empresa: "Empresa G", funcion: "Repartidor", horas: 15, pago: 200 },
    { titulo: "Trabajo 8", empresa: "Empresa H", funcion: "Chef", horas: 50, pago: 800 },
    { titulo: "Trabajo 9", empresa: "Empresa I", funcion: "Bartender", horas: 25, pago: 300 },
    { titulo: "Trabajo 10", empresa: "Empresa J", funcion: "Host", horas: 10, pago: 150 }
  ] %>
    <!--contenido Card-->
    <!-- <div class="container">
      <div class="column justify-content-center">
      <% trabajos.each do |trabajo| %>
        <div class="col-md-4 my-4 mx-auto" style="width:50%;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= trabajo[:titulo] %></h5>
              <p class="card-text">Empresa: <%= trabajo[:empresa] %></p>
              <p class="card-text">Función: <%= trabajo[:funcion] %></p>
              <p class="card-text">horas trabajadas: <%= trabajo[:horas] %></p>
              <p class="card-text">Pago total: <%= trabajo[:pago] %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div> -->

    <!-- Contenido tabla -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Función</th>
        <th scope="col">Horas trabajadas</th>
        <th scope="col">Pago total</th>
      </tr>
    </thead>
    <tbody>
      <% contador = 0 %>
      <% trabajos.each do |trabajo| %>
        <tr >
          <th scope="row"><%= contador += 1 %> </th>
          <td><%= trabajo[:empresa] %></td>
          <td><%= trabajo[:funcion] %></td>
          <td><%= trabajo[:horas] %></td>
          <td><%= trabajo[:pago] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
