<Section class="container">
  <div class="text-center my-4">
    <h1>Perfil de usuario</h1>
  </div>
  <div>
  <img src="" alt="">
  </div>
  <div class=" container mb-4 d-flex flex-column align-items-center border gap-4">
    <div class="my-4 text-center">
      <h1>Bienvenido
        <% if current_user.role  == "collaborator" %>
          colaborador
        <% else current_user.role  == "owner" %>
          empresario
          <% end %>
      </h1>
    </div>
    <div class="mb-4 text-center">
      <h5 class="mb-4">Nombre: </h5>
      <h5><%= current_user.first_name.present? ? current_user.first_name : "No hay un nombre disponible." %></h5>
    </div>
    <div class="mb-4 text-center">
      <h5 class="mb-4">Apellido: </h5>
      <h5><%= current_user.last_name.present? ? current_user.last_name : "No hay un apellido disponible."  %></h5>
    </div>
    <div class="mb-4 text-center">
      <h5 class="mb-4">DNI: </h5>
      <h5><%= current_user.dni.present? ? current_user.dni : "No hay un DNI disponible."  %></h5>
    </div>
    <div class="mb-4 text-center">
      <h5 class="mb-4">Dirección: </h5>
      <h5><%= current_user.address.present? ? current_user.address : "No hay una dirección disponible."  %></h5>
    </div>
    <div class="text-center mb-4">
      <h5 class="mb-4">Teléfono </h5>
      <h5><%= current_user.mobile_phone.present? ? current_user.mobile_phone : "No hay número de teléfono disponible." %></h5>
    </div>
    <div class="text-center mb-4">
      <h5 class="mb-4">Correo: </h5>
      <h5><%= current_user.email.present? ? current_user.email : "No hay un correo disponible." %></h5>
    </div>
    <div class="text-center mb-4">
      <h5 class="mb-4">Metodo de pago: </h5>
      <h5><%= current_user.payment_method.present? ? current_user.payment_method : "No hay un metodo de pago disponible." %></h5>
    </div>
    <div class="text-center mb-4">
      <h5 class="mb-4">Mi banco: </h5>
      <h5><%= current_user.bank.present? ? current_user.bank : "No hay un banco disponible." %></h5>
    </div>
    <div class="text-center mb-4">
      <h5 class="mb-4">Nombre del titular de la cuenta: </h5>
      <h5><%= current_user.name_holder.present? ? current_user.name_holder : "No hay un titular de la cuenta disponible." %></h5>
    </div>
    <div class="text-center mb-4">
      <h5 class="mb-4">Mi numero de cuenta: </h5>
      <h5><%= current_user.bank_account.present? ? current_user.bank_account : "No hay un numero de cuenta disponible." %></h5>
    </div>

  </div>
</Section>
