<div>


  <%= link_to restaurants_path, class: 'btn btn-secondary my-4 back-btn' do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= simple_form_for(restaurant) do |f| %>
      <%# solucion al error que me daba %>
        <% if restaurant.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(restaurant.errors.count, "error") %> Error falta campos:</h2>
            <ul>
              <% restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.input :ruc, label: "R.U.C."  %>
        <%= f.input :commercial_name, label: "Nombre comercial" %>
        <%= f.input :company_name, label: "Razón social" %>
        <%= f.input :phone, label: "Telefono fijo" %>
        <%= f.input :mobile_phone, label: "Celular" %>
        <%= f.input :address, label: "Dirección" %>
        <%= f.input :district, label: "Distrito" %>
        <%= f.input :province, label: "Provincia" %>
        <%= f.input :country, label: "País", as: :select do %>
          <%= f.country_select :country, { include_blank: true }, { class: "form-control" } %>
        <% end %>

        <%= f.input :reference, label: "Referencia de la dirección" %>

        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :photo, as: :file, label: "Subir imagen del restaurante" %>
        <div class="text-center my-5">
        <%= f.submit "Crear restaurante", class: 'btn custom-button rounded-pill' %>
        </div>

      <% end %>


      <style>
      .back-btn {
        color: #6c757d;
        background-color: #ffffff;
        border-color: #ffffff;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
      }

      .custom-button {
        background-color: #00ae7a; /* Fondo verde */
        color: white; /* Texto blanco */
        font-weight: bold; /* Texto en negrita */
        font-size: 16px; /* Altura del texto */
        border: none; /* Sin borde */
        padding: 0.5rem 1rem; /* Ajusta el espacio interior */
        margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
        transition: background-color 0.3s ease; /* Transición suave al hover */

        &:hover {
          background-color: rgba(0, 174, 122, 0.8); /* Fondo verde más tenue al pasar el cursor */
          color: white;
        }
      }
      </style>
</div>
