<div>

  <%= link_to restaurant_path(@restaurant), class: 'btn btn-secondary my-4 back-btn' do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= simple_form_for(restaurant) do |f| %>
      <%# solucion al error que me daba %>
        <% if restaurant.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(restaurant.errors.count, "error") %> Error falta campos:</h2>
            <ul>
              <% restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.input :ruc, label: "R.U.C."  %>
        <%= f.input :commercial_name, label: "Nombre comercial" %>
        <%= f.input :company_name, label: "Razón social" %>
        <%= f.input :phone, label: "Telefono fijo" %>
        <%= f.input :mobile_phone, label: "Celular" %>
        <%= f.input :address, label: "Dirección" %>
        <%= f.input :district, label: "Distrito" %>
        <%= f.input :province, label: "Provincia" %>
        <%= f.input :country, label: "País", as: :select do %>
          <%= f.country_select :country, { include_blank: true }, { class: "form-control" } %>
        <% end %>

        <%= f.input :reference, label: "Referencia de la dirección" %>

        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :photo, as: :file, label: "Subir imagen del restaurante" %>
        <div class="text-center my-5">
        <%= f.button :submit, label: "Crear Restaurante", class: 'btn create-btn rounded-pill' %>
        </div>

      <% end %>


      <style>
      .back-btn {
        color: #6c757d;
        background-color: #ffffff;
        border-color: #ffffff;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
      }

      .create-btn {
        background-color: #E8FFF0; /* Fondo verde claro */
        color: #28A745; /* Texto verde */
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;

        padding: 5px 20px;
        font-size: 19px;
        transition: all 0.3s ease;
        font-weight: bold;
      }

      .create-btn:hover {
          background-color: #218838; /* Fondo verde oscuro al hacer hover */
          color: white; /* Texto blanco al hacer hover */
      }
      </style>
</div>
