<div class="container custom pt-3">
<%# Para probar que funciona, se reemplazara por lo de Levi %>
  <div >
    <div class="text-center custom-title m-5">
      <h1 id="text-custom">Lista de Restaurantes</h1>
    </div>
    <br>
    <%= link_to 'Crear nuevo restaurante', new_restaurant_path, class: 'btn btn-primary' %>
    <br>
    <div>
    <br>
      <table class="table table-primary table-bordered table-hover table-custom">
        <thead>
          <tr>
            <th>R.U.C.</th>
            <th>Nombre comercial</th>
            <th>Razón Social</th>
            <th>Telefono fijo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.ruc %></td>
              <td><%= restaurant.commercial_name %></td>
              <td><%= restaurant.company_name %></td>
              <td><%= restaurant.phone %></td>
              <td>
                <%= link_to 'Ver detalles', restaurant_path(restaurant), class: 'btn btn-info btn-sm' %>
                <%= link_to 'Editar', edit_restaurant_path(restaurant), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Borrar', restaurant_path(restaurant), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                <%= link_to 'Crear trabajo', new_restaurant_job_path(restaurant), class: 'btn btn-info btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <style>
        .custom {
          margin-top: 80px;
        }

        .table-custom {
          border: 3px solid black !important;
          border-radius: 10px;
          background-color: #F4F4F4;
        }

        .custom-title {
        background-color: #DAD0FE;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #6c757d !important;
      }

      #text-custom {
        color: #6c757d;
      }
        </style>
      </table>
    </div>
  </div>

</div>
