<%# Para probar que funciona, se reemplazara por lo de Levi %>
<h1>Restaurants</h1>

<%= link_to 'Create a new Restaurant', new_restaurant_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>RUC</th>
      <th>Commercial Name</th>
      <th>Company Name</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.ruc %></td>
        <td><%= restaurant.commercial_name %></td>
        <td><%= restaurant.company_name %></td>
        <td><%= restaurant.phone %></td>
        <td>
          <%= link_to 'Ver detalles', restaurant_path(restaurant), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-warning' %>
          <%= link_to 'Delete', restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
